{% include 'uploadBundle:Default:header.html.twig' %}

{% block body %}
    <style>
        .form-style-10{
                width: 600px !important;
        }
    </style>    
    <script type="text/javascript">
        function validateForm() {

            //alert($('input[type="file"]').val());
            var fName = $("#first_name").val();
            var lName = $("#last_name").val();
            var address = $("#address").val();
            var addresstwo = $("#addresstwo").val();
            
            var email = $("#email").val();
           // var filechk = document.getElementById("fileinfo").files.length;

            var phone = $("#phone").val();
            var atpos = email.indexOf("@");
            var dotpos = email.lastIndexOf(".");
            if (fName == "") {
                alert("Please enter the First Name");
                return false;
            }
            if (lName == "") {
                alert("Please enter the Last Name");
                return false;
            }
            if (address == "") {
                alert("Please enter the address");
                return false;
            }
             if (addresstwo == "") {
                alert("Please enter the address");
                return false;
            }
            {#if (filechk == 0) {
                alert("Please select file");
                return false;
            }#}
            if (phone == "") {
                alert("Please enter the Phone Number");
                return false;
            }
            if (isNaN(phone)) {
                alert("Must input numbers");
                return false;
            }
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                alert("Not a valid e-mail address");
                return false;
            }

        }

        function AlertFilesize(cid, sz, a) {

            var controllerID = cid;
            var fileSize = sz;
            var extation = a;
            if (window.ActiveXObject) {
                var fso = new ActiveXObject("Scripting.FileSystemObject");
                var filepath = document.getElementById('fileinfo').value;
                var thefile = fso.getFile(filepath);
                var sizeinbytes = thefile.size;
            } else {
                var sizeinbytes = document.getElementById('fileinfo').files[0].size;
            }
            var fSExt = new Array('Bytes', 'KB', 'MB', 'GB');
            fSize = sizeinbytes;
            i = 0;
            while (fSize > 900) {
                fSize /= 1024;
                i++;
            }
            var fup = document.getElementById('fileinfo');
            var fileName = fup.value;
            var ext = fileName.substring(fileName.lastIndexOf('.') + 1);

            if (ext == "gif" || ext == "GIF" || ext == "JPEG" || ext == "jpeg" || ext == "jpg" || ext == "JPG" || ext == "png" || ext == "PNG")
            {
                var fs = Math.round(fSize);
                if (fs < fileSize && fSExt[i] == extation)
                {
                   // alert("Image Successfully Uploaded");
                    return true;
                } else {
                    alert("Please enter the image size less then" + fileSize + extation);
                    document.getElementById('fileinfo').value = '';
                    return false;
                }
            } else {
                alert("Must be jpg and gif images ONLY");
                document.getElementById('fileinfo').value = '';
                return false;
            }
        }
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#uploadedimage')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>
    <div class="form-style-10">
        <h1>Update Details<span> </span></h1>
        <form id="addBook" method="post" class="form" role="form" enctype="multipart/form-data" onsubmit="return validateForm()">

            <div class="inner-wrap">
                <label>First Name <input value="{{data.firstName}}" type="text" class=""  id="first_name" name="first_name"></label>
                <label>Last Name <input value="{{data.lastName}}" type="text" class=""  id="first_name" name="last_name"></label>
                <label>Address  one<input value="{{data.address}}" type="text" class=""  id="address" name="address"></label>
                <label>Address  two<input value="{{data.addresstwo}}" type="text" class=""  id="addresstwo" name="addresstwo"></label>
                <label>Email <input value="{{data.email}}" type="text" class=""  id="email" name="email"></label>
                <label>Upload File <input  value="{{data.file}}" type="file" class=""  id="fileinfo" name="file"  onchange="readURL(this); AlertFilesize(this.id, 100, 'KB');">  <img id="uploadedimage" style="width: 200px; height: 200px;float: right;" src="/uploads/{{data.file}}"></label>
                
                
                <label>Phone  <input value="{{data.phone}}" type="text" class=""  id="phone" name="phone"></label>
                <input value="{{data.id}}" type="hidden" class=""  id="id" name="id">
            </div>
            <div class="button-section">
                <a href="{{path('upload_view')}}">Go To View Page</a> <input type="submit" name="Sign Up" />
            </div>
        </form>
    </div>
{% endblock %}
{% include 'uploadBundle:Default:footer.html.twig' %}