{% include 'uploadBundle:Default:header.html.twig' %}
{% block body %}
    <style>
          #users tr { text-align: left;}
          #users_length{ margin: 1% 13%;}
          #users_filter{ margin: 1% 13%;}
          .previous {
                background: #2aad89;
                padding: 0px 8px 6px 8px;
                border-radius: 5px;
               -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
               color: #fff;
               text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
               font: normal 30px 'Bitter', serif;
               -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
               -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
               box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
               border: 1px solid #257C9E;
               font-size: 15px;
        }
        #users_info { margin-left: 11%;}
        #users_paginate { margin-right: 12%;}
    </style> 
    <title>Symfony Heroku Demo| List User</title>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
    
    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <div hight="20%"></div>
   <body> 
    <table id="users" class="display" cellspacing="0" width="85%">
        <thead>
            <tr>
                
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Photo</th>
                <th>Phone</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for book_type in data %}
                <tr>
                    <td>{{book_type .firstName}}</td>
                    <td>{{book_type .lastName}}</td>
                    <td>{{book_type .address}} <br>{{book_type .addresstwo}}</td>
                    <td>{{book_type .email}}</td>
                    <td><img id="uploadedimage" style="width: 50px; height: 50px;" src="/uploads/{{book_type.file}}"></td>
                    <td>{{book_type .phone}}</td>
                    <td><a class="alink previous" title="Edit User" href="{{path('upload_edit', {'id': book_type .id})}}" >Edit</a>  <a class="alink previous" title="View User" href="{{path('upload_viewuser', {'id': book_type .id})}}" >View</a>  <a class="alink previous"  title="Remove User" onclick="fnRemoveContent({{book_type .id}});" href="#">Delete</a></td>
                
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#users').DataTable({
                "ordering": false,
                 //"order": [[ 0, "desc" ]]
            });
        });
        
        function fnRemoveContent(id){
            if (confirm("Are you sure you want to delete?")) {
                $.ajax({        
                    url: '{{path('upload_delete')}}',
                    type: 'post',             
                    data: {'id' : id},
                    success: function(response) {
                        window.location.reload();
                    }           
                });
            }
        }
    </script>
    </body>
{% endblock %}
{% include 'uploadBundle:Default:footer.html.twig' %}